<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student-form</title>
</head>
<body>
    <h2>Teacher Evaluation / Feed-Back Form</h2>
    <div>
        <h3>Subject: </h3>
        <h3>Lecturer: </h3>
    </div>
    <form action="/feedback-submit" method="post">
        <table>
            <tr>
                <td>
                   <h3>Subject Knowledge:</h3>
                <p>
                    Teacher has Command over the subject
                </p> 
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="SubjectKnowledge" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="SubjectKnowledge" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="SubjectKnowledge" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="SubjectKnowledge" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="SubjectKnowledge" id="Unsatisfactory" value="1">
                </td>
            </tr>
            <tr>
                <td>
                   <h3>Preparedness and Presentation:</h3>
                <p>
                    Explanation is clear and understandable
                </p> 
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="PreparednessAndPresentation" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="PreparednessAndPresentation" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="PreparednessAndPresentation" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="PreparednessAndPresentation" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="PreparednessAndPresentation" id="Unsatisfactory" value="1">
                </td>
            </tr>
                
            </tr>
            <tr>
                <td>
                    <h3>Uniformity of Coverage: </h3>
                <p>
                    The teacher spends adequate time on all units and covers the syllabus uniformly 
                </p>
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="UniformityOfCoverage" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="UniformityOfCoverage" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="UniformityOfCoverage" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="UniformityOfCoverage" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="UniformityOfCoverage" id="Unsatisfactory" value="1">
                </td>
            </tr>
                
            </tr>
            <tr>
                <td>
                   <h3>Problem Solving: </h3>
                <p>
                    The teacher solves sufficient numerical problems
                </p> 
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="ProblemSolving" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="ProblemSolving" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="ProblemSolving" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="ProblemSolving" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="ProblemSolving" id="Unsatisfactory" value="1">
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                   <h3>Regularity: </h3>
                <p>
                    The teacher is regular to the class and maintains timings
                </p> 
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="Regularity" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="Regularity" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="Regularity" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="Regularity" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="Regularity" id="Unsatisfactory" value="1">
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                   <h3>Student Participation:</h3>
                <p>
                    The teacher encourages questions in the class
                </p> 
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="StudentParticipation" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="StudentParticipation" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="StudentParticipation" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="StudentParticipation" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="StudentParticipation" id="Unsatisfactory" value="1">
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                  <h3>Doubt Clearing: </h3>
                <p>
                    The teacher clears doubts satisfactory
                </p>  
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="DoubtClearing" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="DoubtClearing" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="DoubtClearing" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="DoubtClearing" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="DoubtClearing" id="Unsatisfactory" value="1">
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                   <h3>Teacher's Commitment: </h3>
                <p>
                    The teacher 9 is concerned with students' progress and is enthusiastic in teaching
                </p> 
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="TeachersCommitment" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="TeachersCommitment" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="TeachersCommitment" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="TeachersCommitment" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="TeachersCommitment" id="Unsatisfactory" value="1">
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                    <h3>Evaluation Procedures: </h3>
                <p>
                    the teacher evaluates the internal assessments and assignments and discusses mistakes
                </p>
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="EvaluationProcedures" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="EvaluationProcedures" id="Very Good" value="4">
                    <label for="Good ">Good </label>
                    <input type="radio" name="EvaluationProcedures" id="Good " value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="EvaluationProcedures" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="EvaluationProcedures" id="Unsatisfactory" value="1">
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                    <h3>OVERALL RATING: </h3>
                <p>
                    The overall rating of the teacher for this course
                </p>
                </td>
                <td>
                    <label for="Excellent">Excellent </label>
                    <input type="radio" name="OVERALLRATING" id="Excellent" value="5" required>
                    <label for="Very Good">Very Good</label>
                    <input type="radio" name="OVERALLRATING" id="Very Good" value="4">
                    <label for="Good">Good</label>
                    <input type="radio" name="OVERALLRATING" id="Good" value="3">
                    <label for="Satisfactory">Satisfactory</label>
                    <input type="radio" name="OVERALLRATING" id="Satisfactory" value="2">
                    <label for="Unsatisfactory">Unsatisfactory</label>
                    <input type="radio" name="OVERALLRATING" id="Unsatisfactory" value="1">
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                    <p>
                        Please indicate your overall remarks and suggestions for improvement if any
                    </p>
                </td>
                <td>
                    <textarea name="overallRemarksAndSuggestions" id="" cols="60" rows="10" required></textarea>
                </td>
            </tr>
            <!-- <tr>
            </tr> -->
        </table>
        <button type="submit">submit</button>
    </form>

    <h3>Note:</h3>
    
    <p>
        1. Students are advised not to mention their name or roll number on the form. They are expected to provide an unbiased assessment of faculty member. They should refrain from making personal comments unrelated to teaching-learning process.
    </p>

    <p>
        2. Student's honest opinion will help teacher to continually improve the effectiveness of the teaching learning process.
    </p>

</body>
</html>