<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faculty-subject-form</title>
</head>
<body>
    <form action="/data-entry-submit" method="post">
        <table>
            <tr>
                <td>lecturer:</td>
                <td><input type="text" name="lecturer" id="" required></td>
            </tr>
            
            <tr>
                <td>subject1</td>
                <td><input type="text" name="subjects[0].subject" id="" required></td>
                <td>yr</td>
                <td>
                    <select name="subjects[0].yr" id="" required>
                        <option value="1" >1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
                <td>section</td>
                <td><input type="radio" name="subjects[0].section" value="A" required>A</td>
                <td><input type="radio" name="subjects[0].section" value="B">B</td>
                <td>sem</td>
                <td>
                    <select name="subjects[0].sem" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>subject2</td>
                <td><input type="text" name="subjects[1].subject" id="" required></td>
                <td>yr</td>
                <td>
                    <select name="subjects[1].yr" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
                <td>section</td>
                <td><input type="radio" name="subjects[1].section" value="A" required>A</td>
                <td><input type="radio" name="subjects[1].section" value="B">B</td>
                <td>sem</td>
                <td>
                    <select name="subjects[1].sem" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>subject3</td>
                <td><input type="text" name="subjects[2].subject" id="" required></td>
                <td>yr</td>
                <td>
                    <select name="subjects[2].yr" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
                <td>section</td>
                <td><input type="radio" name="subjects[2].section" value="A" required>A</td>
                <td><input type="radio" name="subjects[2].section" value="B">B</td>
                <td>sem</td>
                <td>
                    <select name="subjects[2].sem" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>subject4</td>
                <td><input type="text" name="subjects[3].subject" id="" required></td>
                <td>yr</td>
                <td>
                    <select name="subjects[3].yr" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
                <td>section</td>
                <td><input type="radio" name="subjects[3].section" value="A" required>A</td>
                <td><input type="radio" name="subjects[3].section" value="B">B</td>
                <td>sem</td>
                <td>
                    <select name="subjects[3].sem" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>subject5</td>
                <td><input type="text" name="subjects[4].subject" id="" required></td>
                <td>yr</td>
                <td>
                    <select name="subjects[4].yr" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
                <td>section</td>
                <td><input type="radio" name="subjects[4].section" value="A" required>A</td>
                <td><input type="radio" name="subjects[4].section" value="B">B</td>
                <td>sem</td>
                <td>
                    <select name="subjects[4].sem" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>subject6</td>
                <td><input type="text" name="subjects[5].subject" id="" required></td>
                <td>yr</td>
                <td>
                    <select name="subjects[5].yr" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
                <td>section</td>
                <td><input type="radio" name="subjects[5].section" value="A" required>A</td>
                <td><input type="radio" name="subjects[5].section" value="B">B</td>
                <td>sem</td>
                <td>
                    <select name="subjects[5].sem" id="" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>
        </table>    
        <button type="submit">submit</button>
    </form>
</body>
</html>