<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student-login</title>
</head>
<body>
    <form action="/student-login-submit" method="post">
        <table>
            <tr>
                <td>email</td>
                <td><input type="email" name="email" id=""></td>
            </tr>
            <tr>
                <td rowspan="2">
                    <button type="submit">login</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>