*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.StuForm{
    width: 80%;
    background-color: #90EE90;
    margin: 1% auto;
    padding: 60px;
}
div.head{
    text-align: left;
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

div.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.Header img{
    border-radius: 50%;
}
div.Header h1{
    text-align: center;
    /* width: 20%; */
}
.logo{
    height: 10rem;
    width: 10rem;
}
ol.ques{
    margin: 1% auto;
    /* padding: 1% auto; */
    width: 90%;
    /* text-align: center; */
}
ol.ques li{
    margin: 1%;
    padding: 1%;
}
div.opts{
    
    color: black;
}
div.opts > *{
    margin: 0.5%;
    padding: 0.5%;
}

.AdminLogin{
    height: 100%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
    margin: 2%;
    border-radius: 2%;
    justify-items: center;
    align-items: center;
}
.DataEntry{
    display: flex;
    flex-direction: column;
    width: 50%;

    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    padding: 2%;
    margin: 2% auto;

}


.DataEntry{
    display: flex;
    flex-direction: column;
    padding: 1%;

}
.Lecturer{
    background-color: azure;
    margin: 2%;
    padding: 1%;
}

.repeat{
    background-color: aliceblue;
    margin: 1%;
    padding: 1%;
    border: 2px lightgreen solid;
}
textarea{
    width: 100%;
}

div.adminPage{
    background-color: #90EE90;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* height: 0vh; */
    margin: 2px auto;
    padding: 10px;
}
div.adminAdd{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
    width: 50%;
    border-radius: 7px;
}
div.adminAdd button{
    width: 50%;
    margin: 5px;
    padding: 6px;
    border-radius: 10px;

}

div.adminAdd input{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

div.adminPage div.admins{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

div.admins button{
    padding: 5px 15px;
}


div.Login{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div.Login div.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #90EE90;
    padding: 20px;
    height: 50vh;
    width: 50vw;
}
div.content label{
    padding: 10px 15px;
    margin: 10px;
    font-size: 25px;
}

div.content input{
    padding: 10px 15px;
    margin: 10px;
    font-size: 18px;
}

div.content button{
    padding: 10px 15px;
    margin: 10px;
}

div.MegaForm form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div.MegaForm form div.btns{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    padding: 20px;
}
div.MegaForm button{
    padding: 10px 15px;
    margin: 10px;
}

div.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

div.result div.matter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90EE90;
    padding: 20px;
    width: 50%;
    height: 50%; 
    font-size: 1.5rem;
  
    text-align: center;
}

